.formBox {
  background-color: blanchedalmond;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
  margin-top: 50px;
}
.Title{
    text-align: center;
    color: rgb(250, 135, 3);
    font-size: xx-large;
}
.InputField {
  font-size: x-large;
  border-radius: .2rem;
  border: 1px solid rgba(255, 255, 255, 0.151);
  padding: .5rem;
}
.Btn {
  font-size: x-large;
  background-color: orange;
  color: aliceblue;
  border: 1px solid rgba(255, 255, 255, 0.151);
  border-radius: 1rem;
  padding: .5rem;
}
.Btn:hover {
    background-color: rgb(255, 115, 0);
}
